.project
.pydevproject
*.pyc
__pycache__
.settings
*.egg-info
dist/
build/
.pypirc
.pypi*
.cache
.tox
.pytest_cache
example_*

# Virtual Environments
.venv*/
venv*/

# IDE Settings
.idea/
.vscode/

# OS Artifacts
.DS_Store

# Test Artifacts
.coverage
coverage.xml
junit.xml
